<p>App component
</p>


<app-test1 [status]="myStatus" 
(onSendData)="printDataTest1Comp($event)">> </app-test1>

<button onclick="">do click</button>

<app-test2 name="nombre1" lastname=" apellido1" (onSendData) ="printData($event)"> </app-test2>

<button (click)="sw = !sw">SHOW TEST3</button>
<div [hidden]="sw">
  <app-test3 
  [name]="myStatus">
  </app-test3>
</div>

<ul>
  <li *ngFor="let item of ['first', 'second', 'third']; let i = index">
    <app-test1 
      [status]="color" 
      (onSendData)="printDataTest1Comp($event)"> 
      </app-test1>
  </li>
</ul>

<div style="border: 5px gray solid;">
  <ul>
      <li *ngFor="let item of [1,2,3,4]">
          <div [ngClass]="{
              'color1': item%2 === 1,
              'color2': item%2 === 0
          }">
              <app-test1 [estilo]="item" (onSendData)="printData($event)">
              </app-test1>
          </div>
      </li>
  </ul>
</div>

<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'">
  <app-test1
    [status]="color" 
    (onSendData)="printDataRicardoComp($event)">
  </app-test1>
  </li>
  <li *ngSwitchCase="'yellow'">
  <app-test3 
  [name]="clor">
  </app-test3></li>
  <li *ngSwitchCase="'green'">green</li>
  <li *ngSwitchDefault>Default Orange</li>
</ul>


<ul>
  <li *ngFor="let item of ['first','second']; let indice=index">
    
    <input type="string" [(ngModel)]="name">
    <input type="string" [(ngModel)]="lastname">
  </li>
</ul>


<div #mydiv1> 
<p>My div 1</p>
</div>

<ng-template #myVarElse>
  <p>This is my template</p>
  <p>This is my template</p>
  <p>This is my template</p>
  <p>This is my template</p>

</ng-template>



<app-test2 
name="nombre1" 
lastname=" apellido1" 
(onSendData) ="printData($event)"> 

<p>Mi contenido</p>
<p>Mi contenido</p>
<button>My button</button>
</app-test2>

<button (click) ="sw =!sw">SHOW TEST 3</button>
<ng-container * ngIf="sw" style="margom: 30 px">
  <p>NG container</p>
</ng-container>

<input type="text"[(ngModel)]= "color">
<div [style.border] = "'5px solid ' + color"> 
  my div with styles
</div>

<p [ngStyle]="{
  'background': color,
  'border': '5px gray solid'
}"> my p with ng style</p>


<p>------------------------</p>

<div [class.est1] = "color === 'hola' ">
  my div with class</div>

  <div [ngClass] = "{
    'est1': color === 'hola0',
    'est2': color === 'hola1',
    'est3': color === 'hola2'
  }">
my divb with ng class
  </div>

 



<button directive1Test (click)="onAddVideo()">add Video</button>
<button directive1Test (click)="person1Unsubscribe()">Uns PersonA</button>

<p [directive1Test]="'red'"
   (outputTest)="test($event)"
  >Ni primera directiva de atributo </p>



<app-test1></app-test1>


<p directive1Test [color]="dir" (outputTest)='test($event)'>Directiva de atributo</p>
<input type="text" [(ngModel)]="dir">


<p directive1Test (color)='dir' (outputTest)='test($event)'>Directiva de atributo</p>
<input type="checkbox" [(ngModel)]="switch">
<div *ngIfTask="switch" (test)="test($event)">
    Structural directive
</div>